.header {
    .inner {
        display: flex;
        justify-content: space-around;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }
}

// Menu
.menu {
    display: flex;
    flex-direction: row;
}

.link {
    padding: 6px 12px;

    &:first-of-type {
        padding-left: 0;
    }
}

.link + .link {
    margin-left: 23px;
}

// Info
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .title {
        font-size: 24px;
        color: var(--primary-color);
        line-height: 1.5;
    }

    .heading {
        margin-top: 20px;
        font-size: 48px;
        line-height: 1.5;
        color: var(--white-color);
    }

    .desc {
        line-height: 1.5;
        margin-top: 20px;
        font-size: 16px;
        max-width: 400px;
    }

    .download {
        margin-top: 30px;
        width: 200px;
        max-width: 100%;
    }
}

// Image
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 999px;
}
.image {
    width: 60vh;
}
